.info {
	background-color: #A9F5BC;
	border-color: green;
	color: green;
	list-style-type: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 150px;
	padding-left: 150px;
	border-width: 1px;
	border-style: solid;
}

.error {
	list-style-type: none;
	background-color: #F6CECE;
	border-color: red;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 150px;
	padding-left: 150px;
	color: red;
	border-width: 1px;
	border-style: solid;
}

.warn {
	background-color: #F5F6CE;
	border-color: yellow;
	color: yellow;
	list-style-type: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 150px;
	padding-left: 150px;
	border-width: 1px;
	border-style: solid;
}

.notification {
	list-style-type: none;
	margin: 20px;
	font-size: 1em;
	text-align: center;
}

#header {
	background-color: #ff9900;
	padding:10px;
}