<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

   <h:head>
        <f:facet name="middle">
            <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        </f:facet>
    </h:head>
    <ui:composition template="/Template.xhtml">
	<ui:define name="content">
		<div class="container">
			<h:form id="createEdit">
				<h2>Create Survey</h2>


				<div class="notification">
					<h:messages infoClass="info" warnClass="warn" fatalClass="error"
						errorClass="error" redisplay="false"/>
				</div>

				<div class="form-group col-xs-4">
					<h:outputText for="title" value="Title:" class="control-label" />
					<h:inputText type="text" name="title" id="title"
						class="form-control" value="#{surveyCreationBean.title}"
						required="true" requiredMessage="Pls enter a value!"/>
					<h:messages style="color:red;margin:8px;" for="title" />
					
					<h:outputText for="question1" value="Question 1:"
						class="control-label" />
					<h:inputText type="text" name="question1" id="question1"
						class="form-control" value="#{surveyCreationBean.questionText1}"
						required="true" requiredMessage="Pls enter a value!"/>
					<h:messages style="color:red;margin:8px;" for="question1" />

					<h:outputText for="question2" value="Question 2:"
						class="control-label" />
					<h:inputText type="text" name="question2" id="question2"
						class="form-control" value="#{surveyCreationBean.questionText2}"
						required="true" requiredMessage="Pls enter a value!"/>
					<h:messages style="color:red;margin:8px;" for="question2" />

					<h:outputText for="question3" value="Question 3:"
						class="control-label" />
					<h:inputText type="text" name="question3" id="question3"
						class="form-control" value="#{surveyCreationBean.questionText3}"
						required="true" requiredMessage="Pls enter a value!"/>
					<h:messages style="color:red;margin:8px;" for="question3" />

					<br></br>
					<h:commandButton action="#{surveyCreationBean.create}"
						value="Create Survey" class="btn btn-primary btn-md" />
					<h:commandButton action="survey" immediate="true"
						value="Go back to survey" class="btn btn-danger btn-md" />
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>	
</html>