
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:outputStylesheet library="css" name="css/bootstrap.css"></h:outputStylesheet>

<h:body>
	<ui:composition>
	<br/>
	<br/>
	<div class="container">
	<h:form>
	    <h:panelGroup>
			<div id="login" class="navbar-right ">
        		<table>
        			<tr>
           				<c:choose>
           					<c:when test="#{loginBean.logedIn == false || loginBean.logedIn == null}">
	           					<td>
	        					<h:inputText type="text" name="name" id="name" p:placeholder="Username" validatorMessage="Username not empty" class="form-control" value="#{loginBean.user}" requiredMessage="Pls enter username" required="true">
	        						<f:validateLength minimum="2" maximum="50"  />
	        					</h:inputText>
					          	</td>
					          	<td>
		           					<h:inputSecret type="password" name="password" id="password" p:placeholder="Password" validatorMessage="Password minimum length is 2" class="form-control" value="#{loginBean.pwd}" requiredMessage="Pls enter password" required="true">
										<f:validateLength minimum="2" maximum="50"  />
									</h:inputSecret>
		          			 	</td>
		           				<td>
           						<h:commandButton  action="#{loginBean.checkLogin}" value="Login" class="btn btn-primary btn-md"/>
           						</td>
           					</c:when>
           					<c:otherwise>
		           				<td>
           						<h:commandButton action="#{loginBean.logout}" value="Logout" class="btn btn-danger btn-md"/>          					
           						</td>
           					</c:otherwise>
           				</c:choose>	
        			</tr>
        		</table>
         	</div>
	                	
       	</h:panelGroup>
              
	</h:form>
	</div>
	</ui:composition>
</h:body>
</html>

