<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

   <h:head>
        <f:facet name="middle"></f:facet>
            <h:outputStylesheet library="css" name="css/style.css"></h:outputStylesheet>
            
            
        
    </h:head>
    <ui:composition template="/Template.xhtml">
		<ui:define name="content">
        	<div class="container">
			<div class="notification">
				<h:messages infoClass="info" warnClass="warn" fatalClass="error"
					errorClass="error" redisplay="false"/>
			</div>
			<h2>Welcomepage</h2>
		                	
					<div class="form-group col-xs-12">
						<h:form id="welcome">
							<h:dataTable value="#{welcomeBean.surveyDTOs}" var="survey"
									styleClass="table table-hover"
									headerClass="order-table-header"
									rowClasses="order-table-odd-row,order-table-even-row"
										rendered="#{not empty welcomeBean.surveyDTOs}">
								<h:column>
				    				<f:facet name="header">Title</f:facet>
				    				<h:outputText value="#{survey.title}" />
				    			</h:column>
				    			<h:column>
				    				<f:facet name="header">Creator</f:facet>
				    				<h:outputText value="#{survey.creatorName}" />
				    			</h:column>
								<h:column>
									<f:facet name="header">Creation Date</f:facet>
									<h:outputText
										value="#{utilsBean.convertTime(survey.creationDate)}" />
								</h:column>
								<h:column>
				    				<f:facet name="header">Question 1</f:facet>
				    				<h:outputText value="#{survey.questions.get(0).getQuestionText()}" />
				    			</h:column>
				    			
				    			<h:column>
				    				<f:facet name="header">Question 2</f:facet>
				    				<h:outputText value="#{survey.questions.get(1).getQuestionText()}" />
				    			</h:column>
				    			
				    			<h:column>
				    				<f:facet name="header">Question 3</f:facet>
				    				<h:outputText value="#{survey.questions.get(2).getQuestionText()}" />
				    			</h:column>
				    			<h:column>
				    				<f:facet name="header">Vote</f:facet>
				    				<h:commandButton action="#{voteBean.outcome(survey.surveyId)}" value="Vote" class="btn btn-info btn-xs" />
				    			</h:column>
				    		</h:dataTable>
				    		
				    		<h:outputText value="-no survey-" rendered="#{empty welcomeBean.surveyDTOs}" />
						</h:form>
					</div>
				</div>	
		</ui:define>
	</ui:composition>	
</html>