<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<h:head>
    <f:facet name="middle">
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    </f:facet>
    
</h:head>

<ui:composition template="/Template.xhtml">
	<ui:define name="content">
	    <div class="container">
			<div class="notification">
				<h:messages infoClass="info" warnClass="warn" fatalClass="error"
					errorClass="error" redisplay="false"/>
			</div>
			<h2>Own Surveys</h2>
	    	<c:choose>
	    		<c:when test="#{surveyBean.survey == null}">
	    		</c:when>
	    		<c:otherwise>
		    		<h:form id="ownSurvey">
		    		<h:messages style="color:red;margin:8px;" for="ownSurvey"/>
		    		<h:dataTable value="#{surveyBean.ownSurveys}" var="survey"
		    			styleClass="table table-hover"
		    			headerClass="order-table-header"
		    			rowClasses="order-table-odd-row,order-table-even-row"
		    			rendered="#{not empty surveyBean.ownSurveys}"
		    		>
		    			<h:column>
		    				<f:facet name="header">Title</f:facet>
		    				<h:commandLink value="#{survey.title}" action="vote">
		    					<f:setPropertyActionListener target="#{voteStatisticBean.surveyDTO}" value="#{survey}" />
		    				</h:commandLink>
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">Creation Date</f:facet>
		    				<h:outputText value="#{utilsBean.convertTime(survey.creationDate)}" />
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">Question 1</f:facet>
		    				<h:outputText value="#{survey.questions.get(0).getQuestionText()}" />
		    			</h:column>
		    			
		    			<h:column>
		    				<f:facet name="header">Question 2</f:facet>
		    				<h:outputText value="#{survey.questions.get(1).getQuestionText()}" />
		    			</h:column>
		    			
		    			<h:column>
		    				<f:facet name="header">Question 3</f:facet>
		    				<h:outputText value="#{survey.questions.get(2).getQuestionText()}" />
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">Edit</f:facet>
		    				<h:commandButton action="#{surveyBean.isEditable(survey)}" value="Edit Survey" class="btn btn-info btn-xs" >
		    					<f:setPropertyActionListener target="#{surveyCreationBean.surveyId}" value="#{survey.surveyId}" />
		    					<f:setPropertyActionListener target="#{surveyCreationBean.title}" value="#{survey.title}" />
		    					<f:setPropertyActionListener target="#{surveyCreationBean.creationDate}" value="#{survey.creationDate}" />
		    					
		    					<f:setPropertyActionListener target="#{surveyCreationBean.questionText1}" value="#{survey.questions.get(0).getQuestionText()}" />
		    					<f:setPropertyActionListener target="#{surveyCreationBean.questionText2}" value="#{survey.questions.get(1).getQuestionText()}" />
		    					<f:setPropertyActionListener target="#{surveyCreationBean.questionText3}" value="#{survey.questions.get(2).getQuestionText()}" />
		    					
		    					<f:setPropertyActionListener target="#{surveyCreationBean.questionId1}" value="#{survey.questions.get(0).getQuestionId()}" />
		    					<f:setPropertyActionListener target="#{surveyCreationBean.questionId2}" value="#{survey.questions.get(1).getQuestionId()}" />
		    					<f:setPropertyActionListener target="#{surveyCreationBean.questionId3}" value="#{survey.questions.get(2).getQuestionId()}" />
		    				</h:commandButton>
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">Delete</f:facet>
		    				<h:commandButton action="#{surveyBean.removeOwnSurvey(survey)}" value="Delete Survey" class="btn btn-info btn-xs" />
		    			</h:column>
		    		</h:dataTable>
		    		<div>
		    			<h:outputText value="-no survey-" rendered="#{empty surveyBean.ownSurveys}" />
		    		</div>
		        	</h:form>
	    		</c:otherwise>
	    	</c:choose>
	    	<h:form>
	    		<h:commandButton action="createSurvey" value="Create Survey" class="btn btn-primary btn-md"/>
	        </h:form>
	    	<h2>Other Surveys</h2>
			<c:choose>
	    		<c:when test="#{surveyBean.allSurveys == null}">
	    		</c:when>
	    		<c:otherwise>
		    		<h:form id="otherSurvey">
		    		<h:messages style="color:red;margin:8px;" for="otherSurvey"/>
		    		<h:dataTable value="#{surveyBean.allSurveys}" var="survey"
		    			styleClass="table table-hover"
		    			headerClass="order-table-header"
		    			rowClasses="order-table-odd-row,order-table-even-row"
		    			rendered="#{not empty surveyBean.allSurveys}"
		    		>
		
		    			<h:column>
		    				
		    				<f:facet name="header">Title</f:facet>
		    				<h:outputText value="#{survey.title}" />
		    			</h:column>
		    			<h:column>
				    		<f:facet name="header">Creator</f:facet>
				    		<h:outputText value="#{survey.creatorName}" />
				    	</h:column>
				    	<h:column>
		    				<f:facet name="header">Creation Date</f:facet>
		    				<h:outputText value="#{utilsBean.convertTime(survey.creationDate)}" />
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">Question 1</f:facet>
		    				<h:outputText value="#{survey.questions.get(0).getQuestionText()}" />
		    			</h:column>
		    			
		    			<h:column>
		    				<f:facet name="header">Question 2</f:facet>
		    				<h:outputText value="#{survey.questions.get(1).getQuestionText()}" />
		    			</h:column>
		    			
		    			<h:column>
		    				<f:facet name="header">Question 3</f:facet>
		    				<h:outputText value="#{survey.questions.get(2).getQuestionText()}" />
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">Vote</f:facet>
		    				<h:commandButton action="#{surveyBean.isVotetable(survey)}" value="Vote" class="btn btn-info btn-xs" />
		    			</h:column>
		    		</h:dataTable>
		    		<h:outputText value="-no survey-" rendered="#{empty surveyBean.allSurveys}" />
		        	</h:form>
	    		</c:otherwise>
	    	</c:choose>
	    </div>
	</ui:define>
</ui:composition>	
</html>