<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<h:head>
    <f:facet name="middle">
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    </f:facet>
    
</h:head>
<ui:composition template="/Template.xhtml">
	<ui:define name="content">
	    <div class="container">
			<f:metadata>
				<f:event listener="#{voteStatisticBean.count}"
					type="preRenderComponent"></f:event>
			</f:metadata>
			<div class="notification">
				<h:messages infoClass="info" warnClass="warn" fatalClass="error"
					errorClass="error" redisplay="false"/>
			</div>
			<h2>Vote Overview</h2>
	    	
	    	<h:outputLabel value="Survey from #{utilsBean.convertTime(voteStatisticBean.surveyDTO.creationDate)}"></h:outputLabel>
	    	<div class="form-group col-xs-12">
				<h:form id="overview">
					<h:dataTable value="#{voteStatisticBean.questionResultDTOs}" var="questionResult"
							styleClass="table table-hover"
							headerClass="order-table-header"
							rowClasses="order-table-odd-row,order-table-even-row"
								>
						<h:column>
		    				<f:facet name="header">Question</f:facet>
		    				<h:outputText value="#{questionResult.questionText}" />
		    			</h:column>
						<h:column>
		    				<f:facet name="header">Yes</f:facet>
		    				<h:outputText value="yes (#{questionResult.resultYes})" />
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">No</f:facet>
		    				<h:outputText value="no (#{questionResult.resultNo})" />
		    			</h:column>
		    		</h:dataTable>
		    	<h:commandButton value="Back to Survey" action="#{voteStatisticBean.backButton}" class="btn btn-danger btn-xs"/>
		    	</h:form>
		    </div>		
	    </div>
	</ui:define>
</ui:composition>	
</html>