<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

   <h:head>
        <f:facet name="middle">
            <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        </f:facet>
    </h:head>
    <ui:composition template="/Template.xhtml">
		<ui:define name="content">
		<div class="container">
			<h:form id="setVote">
				<f:metadata>
				    <f:viewParam name="surveyID" value="#{voteBean.surveyID}" />
				    <f:event listener="#{voteBean.init}" type="preRenderView"></f:event>
				</f:metadata>	
				<h2>Set Vote!!</h2>
				<c:set target="#{flash}" property="keepMessages" value="true" />

				<div class="notification">
					<h:messages infoClass="info" warnClass="error" fatalClass="error"
						errorClass="error" redisplay="false"/>
				</div>


				<div class="form-group col-xs-12">
					<h:outputLabel name="question1" for="question1" value="#{voteBean.questionText1}"/>
					<h:selectOneRadio value="#{voteBean.answerText1}" id="question1" >
			   			<f:selectItem itemValue="true" itemLabel="Yes" />
			   			<f:selectItem itemValue="false" itemLabel="No" />
   					</h:selectOneRadio>
					
					<h:outputLabel name="question2" for="question2" value="#{voteBean.questionText2}"/>
					<br/>
				
					<h:selectOneRadio id="question2" value="#{voteBean.answerText2}" >
			   			<f:selectItem itemValue="true" itemLabel="Yes" />
			   			<f:selectItem itemValue="false" itemLabel="No" />
   					</h:selectOneRadio>
   					
   					<h:outputLabel name="question3" for="question3" value="#{voteBean.questionText3}"/>
					<br/>
				
					<h:selectOneRadio id="question3" value="#{voteBean.answerText3}">
			   			<f:selectItem itemValue="true" itemLabel="Yes" />
			   			<f:selectItem itemValue="false" itemLabel="No" />
   					</h:selectOneRadio>
   					
					<h:inputText type="text" rendered="#{voteBean.isUser() == false}" name="name" id="name" value="#{voteBean.voterName}" style="width: 30%" class="form-control" />

					<h:outputText rendered="#{voteBean.isUser() == true}" value="Sie stimmen ab als: #{voteBean.voterName}"/><br/>
					<h:commandButton  action="#{voteBean.createVote}"  value="Give your Vote!" class="btn btn-primary btn-md" />
					<h:commandButton onclick="history.go(-1);return false;" value="Go back to Welcomepage" immediate="true" class="btn btn-danger btn-md"></h:commandButton>
				</div>
			</h:form>
		</div>
	</ui:define>
	</ui:composition>	
</html>